/* цвет текста  #757575;
  цвет заголовков  и кнопок#212121
  акцент+часть лого #2196F3;
  белый #FFFFFF
  вторичный цвет фона #2F303A
 */
/* site colors */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
.title {
	color: var(--hero-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url('../img/hero-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body {
	background-color: #ffffff;
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--hero-text-color: #ffffff;
	--bgd-button-color: #f5f4fa;
}

a {
	text-decoration: none;
}
/* logo */
.logo {
	font-family: Raleway, sans-serif;
	color: var(--title-text-color);
	letter-spacing: 0.03em;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo > span {
	color: var(--accent-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* Titles */

.hero-title {
	margin-top: 0;
	margin-bottom: 0;
	font-style: normal;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
}

.section-title-primary {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}
.primary-list {
	display: flex;
	justify-content: space-between;
}
.primary-list .item + .item {
	margin-left: 30px;
}
.section-title-secondary {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;

	margin-top: 0;
	margin-bottom: 10px;
}
.section-title-portfolio {
	color: var(--title-text-color);
	font-size: 18px;
	line-height: 2;

	margin-top: 0;
	margin-bottom: 0;
}
.title-uppercase {
	text-transform: uppercase;
}
.team-section {
	background: #f5f4fa;
	padding-top: 94px;
}
/* Team list */
.team-list {
	display: flex;
}
.team-list > .item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .item:not(:last-child) {
	margin-right: 30px;
}

.team-list .card {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: ;
	border-radius: 0px 0px 4px 4px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Texts */
.section {
	padding-bottom: 94px;
}
.section p {
	margin-top: 0;
}
.section-text {
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 0;
}
.section-team-text {
	font-size: 16px;
	line-height: 1.18;
}
.section-portfolio-text {
	font-size: 16px;
	line-height: 1.86;
	margin-bottom: 0;
}

/* Address */

.address {
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.17;
	display: flex;
	cursor: pointer;
	vertical-align: bottom;
	padding: 0;
	border: none;
	margin: 0;
}
.address:hover,
.address:focus {
	color: var(--accent-color);
}
.icon-nav {
	margin-right: 10px;
	fill: currentColor;
	display: inline-block;
	width: 16px;
	height: 16px;
}

/*  Main nav */
.main-nav {
	display: flex;
	align-items: center;
}
.portfolio-border {
	border-bottom: 1px solid #ececec;
}
/* site nav */

.site-nav {
	display: flex;
	margin-left: 93px;
}
.site-nav .link {
	display: block;
	padding-bottom: 30px;
	padding-top: 30px;

	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	text-decoration: none;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .current {
	color: var(--accent-color);
}
/* Address nav */
.address-nav {
	display: flex;
	margin-left: auto;
}
.address-nav .item + .item {
	margin-left: 50px;
}

/* Button */

.button {
	color: var(--hero-text-color);
	background-color: var(--accent-color);
	font-family: inherit;

	border-radius: 4px;
	text-align: center;
	border: none;
}
.button.primary {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	padding: 10px 32px;
	min-width: 200px;
	margin-top: 30px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button.secondary {
	color: var(--title-text-color);
	background-color: var(--bgd-button-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	min-width: 73px;
	padding: 6px 22px;
}
.secondary:hover,
.secondary:focus {
	color: var(--hero-text-color);
	background-color: var(--accent-color);

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* list main */
.feacher-list {
	display: flex;
}
.feacher-list .item:not(:last-child) {
	margin-right: 30px;
}
.feacher-list .item::before {
	content: '';
	display: block;
	height: 120px;
	margin-bottom: 30px;
	background: #f5f4fa;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.feacher-list .icon-antena::before {
	background-image: url(../img/feacher-list/antena.svg);
}
.feacher-list .icon-clock::before {
	background-image: url(../img/feacher-list/clock.svg);
}
.feacher-list .icon-diagram::before {
	background-image: url(../img/feacher-list/diagram.svg);
}
.feacher-list .icon-astronaut::before {
	background-image: url(../img/feacher-list/astronaut.svg);
}
/* Portfolio list */
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 94px;
	cursor: pointer;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;

	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: var(--hero-text-color);
	background: rgba(33, 150, 243, 0.9);
}

.portfolio-list .item {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list .item:nth-child(3n) {
	margin-right: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.item > .card {
	padding: 20px 24px;

	border: 1px solid #eeeeee;
	background-color: var(--hero-text-color);
}
.card-list {
	display: flex;
	padding: 0;
	margin: 0;
	text-align: center;
}
.card-list .item {
	display: inline-block;
}
.item-card {
	border: none;
	padding: 0;
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 44px;
	height: 44px;
}

.item-icon {
	width: 20px;
	height: 20px;
}
.item-card:hover,
.item-card:focus,
.footer-card:hover,
.footer-card:focus {
	fill: rgba(33, 150, 243, 1);
	--color1: #ffffff;
	background-color: rgba(33, 150, 243, 1);
}
.card-list .item:not(:last-child) {
	margin-right: 10px;
}
.portfolio-button {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	padding-top: 94px;
}
.portfolio-button .item:not(:last-child) {
	margin-right: 8px;
}
/* Client logo */
.client-logo {
	display: flex;
}
.client-logo .item {
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}
.client-logo .item:hover,
.client-logo .item:focus {
	--color1: #2196f3;
	border: 1px solid #2196f3;
}
.client-logo .item:not(:last-child) {
	margin-right: 30px;
}
.logo-icons {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.section-logo {
	padding-top: 94px;
}
/* footer */
.footer {
	background-color: #2f303a;
	margin-top: 0;

	padding-top: 60px;
	padding-bottom: 60px;
}
/* .footer-container { 
  display: flex;
  align-items: baseline;
} */
.footer-content {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.footer .footer-logo {
	color: var(--hero-text-color);
}
.footer-address {
	color: var(--hero-text-color);
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;

	display: flex;
	flex-direction: column;
}
.footer-mail,
.footer-tel {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 9px;
}

.link-header {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--hero-text-color);
	margin-bottom: 20px;
}
.footer-card {
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
	--color1: #ffffff;
}
.footer-icon {
	width: 20px;
	height: 20px;
}
/* Container sizes */
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
